apiVersion: apps/v1
kind: Deployment
metadata:
  name: activemq
spec:
  replicas: 1
  selector:
    matchLabels:
      app: activemq
  template:
    metadata:
      labels:
        app: activemq
    spec:
      automountServiceAccountToken: false
      containers:
        - name: activemq
          image: rmohr/activemq:5.15.9
          ports:
            - containerPort: 61616
            - containerPort: 8161
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
              ephemeral-storage: "1Gi"
            limits:
              cpu: "1000m"
              memory: "2Gi"
              ephemeral-storage: "2Gi"
          env:
            - name: ACTIVEMQ_ADMIN_LOGIN
              valueFrom:
                secretKeyRef:
                  name: activemq-secret
                  key: username
            - name: ACTIVEMQ_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: activemq-secret
                  key: password
            - name: SPRING_JMS_PUB_SUB_DOMAIN
              value: "false"
      restartPolicy: Always