apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-server
  labels:
    app: admin-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin-server
  template:
    metadata:
      labels:
        app: admin-server
    spec:
      automountServiceAccountToken: false
      containers:
        - name: admin-server
          image: admin-server:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
              ephemeral-storage: "500Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
              ephemeral-storage: "1Gi"
          env:
            - name: SPRING_BOOT_ADMIN_MONITOR_CONNECT-TIMEOUT
              value: "5000"
            - name: SPRING_BOOT_ADMIN_MONITOR_READ-TIMEOUT
              value: "5000"

      restartPolicy: Always
      