apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth
  labels:
    app: auth
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: auth-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET
            - name: ITINERARY_MAIN_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: ITINERARY_MAIN_SECRET
            - name: PAYMENT_SERVICE_SECRET
              valueFrom:
                secretKeyRef:
                  name: auth-secret
                  key: PAYMENT_SERVICE_SECRET
            - name: SPRING_ACTIVEMQ_BROKER_URL
              value: tcp://activemq:61616
            - name: SPRING_ACTIVEMQ_USER
              valueFrom:
                secretKeyRef:
                  name: activemq-secret
                  key: username
            - name: SPRING_ACTIVEMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: activemq-secret
                  key: password
            - name: SPRING_JMS_PUB_SUB_DOMAIN
              value: "false"
          envFrom:
            - configMapRef:
                name: common-actuator-config
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8081
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            initialDelaySeconds: 20
            periodSeconds: 10
      restartPolicy: Always
