apiVersion: v1
kind: Service
metadata:
  name: auth
spec:
  selector:
    app: auth
  ports:
    - name: http
      protocol: TCP
      port: 8080              
      targetPort: 8080
    - name: actuator
      protocol: TCP
      port: 8081
      targetPort: 8081

  type: ClusterIP 
  