apiVersion: v1
kind: Service
metadata:
  name: gateway
  labels:
    app: gateway
spec:
  selector:
    app: gateway
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30800
      name: http
    - protocol: TCP
      port: 8081
      targetPort: 8081
      name: management
  type: NodePort

