apiVersion: v1
kind: Service
metadata:
  name: itinerary-main
spec:
  selector:
    app: itinerary-main
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 30080
    - name: actuator
      protocol: TCP
      port: 8081
      targetPort: 8081

  type: NodePort
  