apiVersion: v1
kind: Service
metadata:
  name: payments
spec:
  selector:
    app: payments
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: actuator
      protocol: TCP
      port: 8081
      targetPort: 8081
    - name: grpc
      port: 9090
      targetPort: 9090
  type: ClusterIP
  